/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/* HEADER */
.site-title {
  margin: auto;
  font-size: 6em;
  font-family: "DM Serif Text", serif;
  color: #ffffff;
}

.site-subtitle {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.header-div {
  margin: auto;
  margin-bottom: 2.5em;
  display: flex;
  flex-wrap: wrap;
}

.title-container {
  margin: auto;
  margin-left: 0;
}

.social-container {
  margin: auto;
  min-width: 300px;
  margin-right: 0;
}

.social-container a {
  float: right;
  font-size: 2em;
  margin: 0.15em;
  color: #981e32;
}

.social-container a:hover {
  color: #322741;
}

@media only screen and (max-width: 1000px) {
  .site-title {
    font-size: 4.5em;
  }
  .site-subtitle {
    font-size: 1.5em;
  }
  .social-container {
    margin-right: auto;
    margin-left: 0;
  }
}

@media only screen and (max-width: 760px) {
  .social-container a {
    float: left !important;
  }
}

@media only screen and (max-width: 660px) {
  .section {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .panel-block {
    padding: 0.5em !important;
  }
  .panel-heading {
    padding: 0.5em;
  }
}

/* CONTENT */
.panel-heading {
  font-family: "Oswald", sans-serif;
  background-color: #18131f;
  color: #ffffff;
  font-size: 2.4em;
}

.panel-block {
  margin: auto;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.15em;
  color: #ffffff;
  border: 0 !important;
  font-family: "Montserrat", sans-serif;
}

.panel-title {
  width: 100%;
  margin: auto;
  font-size: 1.25em;
}

.panel-description {
  width: 100%;
  margin: auto;
  line-height: 2em;
}

.panel-content {
  padding: 0.5em;
  width: 100%;
  margin: auto;
}

.panel-button {
  margin-top: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.skill-level {
  width: 100%;
  margin: auto;
}

.skill-level::-webkit-progress-value {
  background-color: #e0dddd;
}

.skill-container {
  width: 100%;
  margin: auto;
}

.panel {
  background-color: #18131f;
}

footer {
  background-color: #110e1b !important;
}

body {
  background-color: #191528 !important;
}

.threecanvas {
  position: fixed;
  display: block;
  width: 100% !important;
  height: 100% !important;
}
