<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nathan Laha</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="./custom.css">
    <link rel="stylesheet" href="./animations.css">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</head>

<body class="light-mode">
    <section class="section" id="app">
        <div class="container">
            <div class="header-div">
                <div class="title-container">
                    <h1 class="title site-title fadeIn">
                        Nathan Laha
                    </h1>
                    <p class="subtitle site-subtitle fadeIn">
                        Computer Science Student
                    </p>
                </div>
                <div class="social-container">
                    <a href="https://instagram.com/nathan.laha">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    <a href="https://github.com/nlaha">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                    <a href="https://www.facebook.com/nathan.laha.3">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </div>
            </div>

            <nav class="panel fadeIn">
                <p class="panel-heading">
                    Education & Experience
                </p>
                <div class="panel-block" v-for="experience in experiences">
                    <div class="panel-content">
                        <h3 class="panel-title">{{experience.title}}</h3>
                        <p class="panel-description">{{experience.description}}</p>
                        <a :href="experience.url"><button class="button panel-button is-dark is-outlined"
                                v-if="experience.url">Learn
                                More</button></a>
                    </div>
                </div>
            </nav>

            <nav class="panel fadeIn">
                <p class="panel-heading">
                    Skills
                </p>
                <div class="panel-block">
                    <div class="skill-container">
                        <p class="panel-title">
                            Sorted by proficiency and experience in descending order.
                        </p>
                        <div class="panel-content" v-for="skill in skills">
                            <h3 class="panel-description">{{skill.name}}</h3>
                            <progress class="progress skill-level is-medium" :value="skill.level" max="100"></progress>
                        </div>
                    </div>
                </div>
            </nav>

            <nav class="panel fadeIn">
                <p class="panel-heading n-panel-heading">
                    Programming Projects
                </p>
                <div class="panel-block" v-for="project in programming">
                    <div class="panel-content">
                        <h3 class="panel-title">{{project.title}}</h3>
                        <p class="panel-description">{{project.description}}</p>
                        <a :href="project.url"><button class="button panel-button is-dark is-outlined"
                                v-if="project.url">Learn
                                More</button></a>
                    </div>
                </div>
            </nav>

            <nav class="panel fadeIn">
                <p class="panel-heading n-panel-heading">
                    Art Projects
                </p>
                <div class="panel-block" v-for="project in art">
                    <div class="panel-content">
                        <h3 class="panel-title">{{project.title}}</h3>
                        <p class="panel-description">{{project.description}}</p>
                        <a :href="project.url"><button class="button panel-button is-dark is-outlined"
                                v-if="project.url">Learn
                                More</button></a>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Copyright &copy;
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script> nlaha.com
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./app.js" type="module"></script>
</body>

</html>