/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

/* Define styles for the default root window element */
:root {
  --background-color-primary: #ffffff;
  --background-color-secondary: #e0dddd;
  --background-color-tertiary: #f6f6f6;
  --background-color-tertiary2: #f7f7f7;
  --background-color-tertiary3: #e0dddd;
  --accent-color: #981e32;
  --text-primary-color: #293241;
  --element-size: 4rem;
  --shadow-color: rgba(0, 0, 0, 0.11);
  --grid-gutter: 0.5rem;
  background-color: var(--background-color-tertiary);
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
  --background-color-primary: #181818;
  --background-color-secondary: #811a2b;
  --background-color-tertiary: #111111;
  --background-color-tertiary2: #121212;
  --background-color-tertiary3: #282828;
  --accent-color: hsl(350, 77%, 46%);
  --text-primary-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --grid-gutter: 0.5rem;
  background-color: var(--background-color-tertiary);
}

#app {
  flex: 1;
  background-color: var(--background-color-tertiary);
}

/* HEADER */
.site-title {
  margin: auto;
  margin-top: 1.15rem;
  font-size: 6em;
  font-family: "DM Serif Display", serif;
  color: var(--text-primary-color);
  font-weight: 500;
}

.site-subtitle {
  margin: 1rem 0;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: var(--text-primary-color);
}

.header-div {
  margin: 0;
  margin-bottom: 2.5em;
  display: flex;
  flex-wrap: wrap;
}

.title-container {
  margin: auto;
  margin-left: 0;
}

.social-container {
  margin: auto;
  margin-bottom: 0;
  min-width: 300px;
  width: 100%;
  margin-right: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.social-group {
  margin: 0 !important;
  height: 4rem;
  display: flex;
  padding: 0 1em !important;
}

.social-container a {
  float: right;
  font-size: 2em;
  margin: 0.15em;
  color: var(--accent-color);
}

.social-icon {
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  height: max-content;
}

.wsu-icon:hover {
  -webkit-filter: invert(100%) grayscale(); /* safari 6.0 - 9.0 */
  filter: invert(100%) grayscale();
}

.dark-mode-button {
  border-radius: 6px;
  border: 1px solid;
  border-color: var(--text-primary-color);
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;

  float: right !important;
  font-size: 2em;
  margin: 0.25em;
  color: var(--accent-color);
  outline: none;
  border: none;
  background-color: var(--background-color-primary);
  box-shadow: 0 0.5em 1em -0.125em var(--shadow-color),
    0 0 0 1px var(--shadow-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color-tertiary);
  z-index: 1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-color-secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

.dark-mode-button-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.dark-mode-button:hover {
  color: var(--text-primary-color);
}

.social-container a:hover {
  color: var(--text-primary-color);
}

@media only screen and (max-width: 600px) {
  .social-container {
    justify-content: space-between;
  }
  .social-group {
    padding: 0 0em;
  }
  .site-title {
    font-size: 3.5em !important;
    margin: 0;
  }
  .site-subtitle {
    font-size: 1.5em !important;
  }
}

@media only screen and (max-width: 1200px) {
  .site-title {
    font-size: 4.5em;
    margin: 0;
  }
  .site-subtitle {
    font-size: 1.5em;
  }
  .panel {
    margin: auto !important;
  }
  .header-div {
    margin: 0em;
    margin-bottom: 1em;
  }
  .section {
    padding-left: 1em;
    padding-right: 1em;
  }
  .panel-block {
    padding: 0.5em !important;
  }
  .panel-heading {
    padding: 0.5em;
    margin-left: 0 !important;
  }
  .social-group {
    margin: 0 !important;
  }
}

h4 {
  margin: 0.5rem auto;
}

/* CONTENT */
.panel-heading {
  font-family: "DM Serif Display", serif;
  background-color: var(--background-color-primary);
  color: var(--accent-color);
  font-size: 2.3em;
  font-weight: 500;
  margin-left: 2rem;
  padding-top: 1rem;
  margin-bottom: 0rem;
  border-radius: 6px;
}

.last_panel_block {
  border-radius: 6px;
}
.panel-block {
  margin: auto;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.15em;
  color: var(--text-primary-color);
  font-family: "Montserrat", sans-serif;
  border-bottom: 13px solid var(--background-color-tertiary2) !important;
}

html {
  width: 100%;
  height: 100%;
}

.panel-title {
  width: 100%;
  margin: auto;
  font-size: 1.25em;
}

.panel-description {
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.panel-content {
  padding: 0.5em;
  margin: auto;
}

.panel-button {
  border-radius: 6px;
  border: 1px solid;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;

  margin-top: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  background-color: var(--background-color-primary) !important;
  background: var(--background-color-primary) !important;
  border-color: var(--text-primary-color) !important;
  color: var(--text-primary-color) !important;
}

.panel-button:hover {
  background-color: var(--text-primary-color) !important;
  background: var(--text-primary-color) !important;
  border-color: var(--background-color-primary) !important;
  color: var(--background-color-primary) !important;
}

.skill-level {
  width: 100%;
  margin: auto;
}

.skill-level::-webkit-progress-value {
  background-color: var(--background-color-secondary);
}

.skill-level::-webkit-progress-bar {
  background-color: var(--background-color-tertiary);
}

.skill-container {
  width: 100%;
  margin: auto;
}

.panel {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.card {
  background-color: var(--background-color-primary);
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em var(--shadow-color),
    0 0 0 1px var(--shadow-color);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  overflow-y: overlay;
}

footer {
  margin-top: 3rem;
  min-height: 50px;
  padding: 1rem;
  color: var(--text-primary-color);
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color-primary) !important;
}

.wsu-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  contain: strict;
  fill: currentcolor;
  box-sizing: content-box !important;
  vertical-align: baseline;
  transform: translateY(10%);
}

.photography-container {
  margin-top: 1em !important;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
}

.photography-tile {
  margin: 0.5rem !important;
}

.photography-container img {
  border-radius: 5px !important;
}

.has-text-centered {
  text-align: center;
}

.handshake-icon {
  display: inline-block;
  width: 0.8em;
  height: 1em;
  contain: strict;
  fill: currentcolor;
  box-sizing: content-box !important;
  vertical-align: text-top;

  background-color: var(--accent-color);
  -webkit-mask: url(Handshake.svg) no-repeat center;
  mask: url(Handshake.svg) no-repeat center;
}

.handshake-icon:hover {
  background-color: var(--text-primary-color);
}
