/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat&display=swap");

/* Define styles for the default root window element */
:root {
  --background-color-primary: #ffffff;
  --background-color-secondary: #e0dddd;
  --background-color-tertiary: #f6f6f6;
  --background-color-tertiary2: #f7f7f7;
  --accent-color: #981e32;
  --text-primary-color: #293241;
  --element-size: 4rem;
  --shadow-color: rgba(0, 0, 0, 0.11);
  background-color: var(--background-color-tertiary);
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
  --background-color-primary: #131313;
  --background-color-secondary: #811a2b;
  --background-color-tertiary: #111111;
  --background-color-tertiary2: #121212;
  --accent-color: #981e32;
  --text-primary-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.11);
  background-color: var(--background-color-tertiary);
}

#app {
  background-color: var(--background-color-tertiary);
}

/* HEADER */
.site-title {
  margin: auto;
  font-size: 6em;
  font-family: "DM Serif Text", serif;
  color: var(--text-primary-color);
}

.site-subtitle {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--text-primary-color);
}

.header-div {
  margin: auto;
  margin-bottom: 2.5em;
  display: flex;
  flex-wrap: wrap;
}

.title-container {
  margin: auto;
  margin-left: 0;
}

.social-container {
  margin: auto;
  min-width: 300px;
  margin-right: 0;
}

.social-container a {
  float: right;
  font-size: 2em;
  margin: 0.15em;
  color: var(--accent-color);
}

.dark-mode-button {
  float: right !important;
  font-size: 2em;
  margin: 0.25em;
  color: var(--accent-color);
  outline: none;
  border: none;
  background-color: transparent;
}

.dark-mode-button span {
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color-tertiary);
  z-index: 1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-color-secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

.dark-mode-button-container {
  position: absolute;
  top: 1.5em;
  right: 0;
  z-index: 2345;
  background-color: var(--background-color-primary);
  height: 5em;
  width: 60px;
  margin-right: 0;
  margin-left: auto;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  box-shadow: var(--shadow-color) 0px 0px 10px;
}

.dark-mode-button:hover {
  color: var(--text-primary-color);
}

.social-container a:hover {
  color: var(--text-primary-color);
}

@media only screen and (max-width: 1000px) {
  .site-title {
    font-size: 4.5em;
  }
  .site-subtitle {
    font-size: 1.5em;
  }
  .social-container {
    margin-right: auto;
    margin-left: 0;
  }
}

@media only screen and (max-width: 760px) {
  .social-container a {
    float: left !important;
  }
}

@media only screen and (max-width: 660px) {
  .section {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .panel-block {
    padding: 0.5em !important;
  }
  .panel-heading {
    padding: 0.5em;
  }
}

/* CONTENT */
.panel-heading {
  font-family: "DM Serif Text", serif;
  background-color: var(--background-color-primary);
  color: var(--accent-color);
  font-size: 2.3em;
  font-weight: 500;
}

.panel-block {
  margin: auto;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.15em;
  color: var(--text-primary-color);
  font-family: "Montserrat", sans-serif;
  border-bottom: 13px solid var(--background-color-tertiary2) !important;
}

.panel-title {
  width: 100%;
  margin: auto;
  font-size: 1.25em;
}

.panel-description {
  width: 100%;
  margin: auto;
  margin-bottom: 0.5em;
}

.panel-content {
  padding: 0.5em;
  width: 100%;
  margin: auto;
}

.panel-button {
  margin-top: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  background-color: var(--background-color-primary) !important;
  border-color: var(--text-primary-color) !important;
  color: var(--text-primary-color) !important;
}

.panel-button:hover {
  background-color: var(--text-primary-color) !important;
  border-color: var(--background-color-primary) !important;
  color: var(--background-color-primary) !important;
}

.skill-level {
  width: 100%;
  margin: auto;
}

.skill-level::-webkit-progress-value {
  background-color: var(--background-color-secondary);
}

.skill-level::-webkit-progress-bar {
  background-color: var(--background-color-tertiary);
}

.skill-container {
  width: 100%;
  margin: auto;
}

.panel {
  background-color: var(--background-color-primary);
}

footer {
  background-color: var(--background-color-primary) !important;
}

.wsu-icon {
  width: 25px;
}

.photography-container {
  margin-top: 1em !important;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
}

.photography-tile {
  margin: 0.5rem !important;
}

.photography-container img {
  border-radius: 5px !important;
}

.resume-download-link {
  font-size: 1.5em !important;
  background-color: var(--background-color-primary) !important;
  border-radius: 5px !important;
  padding: 0.5em !important;
  transition: 0.4s;
}

.resume-download-link:active {
  box-shadow: none !important;
  transition: 0.4s;
}
