@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* fonts */
	--font-sans: 'DM Sans', sans-serif;
	--font-serif: 'DM Serif Display', serif;
	--font-display: 'DM Serif Display', serif;
}
