@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* fonts */
	--font-sans: 'DM Sans', sans-serif;
	--font-serif: 'DM Serif Display', serif;
	--font-display: 'DM Serif Display', serif;
}
